*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky {
    padding: 5px 100px;
    background: #fff;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header .logo img {
    max-height: 125px;
    height: auto;
    max-width: 100%;
    transition: 0.6s;
}
header.sticky .logo img {
    max-height: 75px;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}
.articlesBanner {
    height: 70vh;
}
header.sticky .logo,
header.sticky ul li a {
    color: #000;

}
#background-video::-webkit-media-controls {
    display: none !important;
}

#background-video::-moz-media-controls {
    display: none !important;
}
#background-video::-ms-media-controls {
    display: none !important;
}
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MeetTheBears {
    background: white;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    padding: 0;
}
.boxMTB {
    display: flex;
}
.boxMTB > div{
    display: flex;
    justify-content: center;
}
.leftMTB {
    flex-basis: 60%;
}
.leftMTB img {
    width: 100%;
    height: auto;
    margin: 125px 0px 125px 0px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}
.rightMTB {
    position: relative;
    top: -50px;
    margin: 10px 0px 10px 0px;
    flex-basis: 40%;
    flex-grow:1;
    flex-shrink: 1;
    width: 100%;
    max-width: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.roster-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MTBOverlay {
    background: white;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(4,30,66);
    font-size: 75px;
    margin-bottom: 10px;
}
.roster-button {
    margin-top: 10px;
    background: white;
    font-size: 3em;
    text-decoration: none;
    color: rgb(4,30,66);
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
    border: 4px solid rgb(4,30,66);
    border-radius: 15px;
}
.roster-button:hover {
    background: rgb(4,30,66);
    font-size: 3em;
    text-decoration: none;
    color: white;
}
.Stream {
    background: white;
    width: 100%;
    margin: 0 auto;
}
.boxStream {
    display: flex;
}
.boxStream > div{
    display: flex;
    justify-content: center;
}
.leftStream {
    flex-basis: 40%;
}
.rightStream {
    flex-basis: 60%;
}
.rightStream img {
    width: 100%;
    height: auto;
    margin: 125px 0px 125px 0px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}
.StreamContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.StreamingOverlay {
    background: white;
    margin-top: 50px;
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(4,30,66);
    font-size: 75px;
    margin-bottom: 10px;
    text-align: center;
}
.logoContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.StreamCal {
    flex-basis: 50%;
}
.Blackdog {
    flex-basis: 50%;
}
.StreamCal img {
    width: 90%;
    margin-left: 20px;
    height: auto;
}
.Blackdog img {
    width: 90%;
    height: auto;
}
.streaming-button {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
    background: white;
    font-size: 3em;
    text-decoration: none;
    color: rgb(4,30,66);
    border: 4px solid rgb(4,30,66);
    border-radius: 15px;
}
.streaming-button:hover {
    background: rgb(4,30,66);
    font-size: 3em;
    text-decoration: none;
    color: white;
}
.bottom {
    height: 150px;
    width: 100%;
    background: rgb(4,30,66);
}
.articlePageBottom {
    align-items: flex-start;
    position: absolute;
    width: 150%;
    left: -450px;
    margin-bottom: 50px;
}
.adjustForParallax {
    height: 150px;
    width: 100%;
    background: rgb(4,30,66);
    position: relative;
    top: 100px;
}
.socialmediacontainer {
    margin-left: 70%;
    text-align: right;
    display: flex;
    flex-direction: row;
    top: 50px;
    position: relative;
    z-index: 10;
}
.FollowUs {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
    color: white;
    font-size: 2em;
}
.socialmediacontainer div a img {
    max-width: 50px;
    width: 90%;
    margin-left: 20px;
    height: auto;
}
.white {
    font-family: "Poppins", sans-serif;

}
.timeline {
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
    margin: 200px auto;

}
.timelineContainer {
    padding: 10px 50px;
    position: relative;
    width: 50%;
}
.textbox {
    color: rgb(91, 91, 91);
    padding-left: 30px;
    padding: 20px, 30px;
    background: white;
    position: relative;
    border-radius: 6px;
    font-size: 22px;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
    margin-bottom: 100px;
}
.timelineLeft-container {
    left: 0;
}
.timelineRight-container {
    left: 50%;
}
.timelineContainer img {
    position: absolute;
    width: 70px;
    max-width: 120px;
    max-height: 100px;
    right: -35px;
    top: 10%;
    z-index: 10;
}
.timelineRight-container img{
    left: -35px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: white;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
    opacity: 0.7;
}
.blackText {
    color: black;
}
.textbox h2 {
    position: relative;
    top: 5px;
    font-weight: 600;
}
.textbox h4 {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
.textbox p {
    position: relative;
    top: 5px;
    margin-bottom: 5px;
}
.textbox a {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(4,30,66);
    right: -15px;
}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(4,30,66);
    left: -15px;
}
.textbox a {
    text-decoration: none;
}
.textbox a:visited {
    color: rgb(91, 91, 91);
}
.textbox a:hover {
    color: white;
    border-radius: 3px;
    background: rgb(91, 91, 91);
}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background: rgb(4,30,66);
}
.parallaxbackground {
    position: absolute;
    width: 100%;
    top: 1500px;
    left: 0;
    object-fit: cover;
    transform: translateZ(-60px) scale(7.4);
    z-index: -2;
}
.test {
    width: 100%;
}

.whole {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gap { 
    display: flex; 
    width: 1000px;
    height: 200px;
}
.rosterBody {
    display: flex;
    justify-content: center;
    height: 100%;
    background: linear-gradient(43deg, #002676 0%, #FDB515 50%, #002676 100%);
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    align-items:flex-start;
    flex-direction: column;
}
.rosterContainer {
    align-items: center;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
    padding: 30px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.rosterContainer nav {
    position: relative;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rosterContainer nav::after {
    content: "";
    background: silver;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 47px;
    filter: blur(0.5);
}
.rosterContainer nav label {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    transition: all 0.3s ease;
}
#forwards:checked ~ nav label .forwards,
#defense:checked ~ nav label .defense
#goalies:checked ~ nav label .goalies 
#coaches:checked ~ nav label .coaches
#staff:checked ~ nav label .staff {
    color: #002676;
}
input[type='radio']{
    display: none;
}
.rosterContainer nav .slider {
    position: absolute;
    height: 4.5px;
    background-color: #002676;
    border-radius: 20px;
    width: 33%;
    z-index: 1;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
    filter: blur(0.4px);
}
.coachContainer nav .slider {
    width: 50%;
}

#forwards:checked ~ nav .slider {
    left: 0%;
}
#defense:checked ~ nav .slider {
    left: 33%;
}
#goalies:checked ~ nav .slider {
    left: 67%;
}
#coaches:checked ~ nav .slider {
    left: 0%;
}
#staff:checked ~ nav .slider {
    left: 50%;
}
#forwards:checked ~ nav .forwards {
    color: #002676;
}
#defense:checked ~ nav .defense {
    color: #002676;
}
#goalies:checked ~ nav .goalies {
    color: #002676;
}
#staff:checked ~ nav .staff {
    color: #002676;
}
#coaches:checked ~ nav .coaches {
    color: #002676;
}
section .content{
    display: none;
    margin-bottom: 20px;
}
#goalies:checked ~ section .goalieContent {
    display: block;
}
#forwards:checked ~ section .forwardContent {
    display: block;
}
#defense:checked ~ section .defenseContent {
    display: block;
}
#coaches:checked ~ section .coachesContent {
    display: block;
}
#staff:checked ~ section .staffContent {
    display: block;
}
.rosterSlot {
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 200px;
    width: 800px;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
}
.coachesContent,
.staffContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    left: -215px;
}
.coachSlot {
    margin-left: 0px;
    margin-right: 0px;
    height: 150px;
    width: 600px;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 150px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    position: relative;
    left: 800px;
}
.leftSide {
    max-width: 150px;
    flex-basis: 30%;
    display: flex;
    padding: 0;
    margin: 0;
}
.coachSlot .leftSide {
    max-width: 40%;
    flex-basis: 40%;
    align-items: center;
}
.rightSide {
    flex-basis: 70%;
    padding: 0;
    margin: 0;
}
.coachSlot .rightSide {
    flex-basis: 60%;
}
.leftSide img {
    height: 110%;
    width: auto;
    object-fit: cover;
    min-width: 120px;
    border-radius: 50%;
}
.coachesContent .leftSide img,
.staffContent .leftSide img {
    margin-left: 20%;
}
.content h2 {
    width: 100%;
}
.coachContent h2 {
    font-size: xx-large;
}
.bio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.leftbio, .rightbio {
    display: flex;
    flex-basis: 50%;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 15px;
}
.top {
    display: flex;
    flex-basis: 50%;
}
.below {
    display: flex;
    flex-basis: 50%;
}
.greyline {
    border: none; 
    height: 3px; 
    background-color:#002676;
    margin: 20px 0; 
    width: 50%;
    margin: 5px auto;
}
.coachContainer .greyline {
    width: 50%;
}
.rosterBottom {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: flex-start;
    background-color:rgb(4,30,66);
    margin-top: 100px;
}
.homeBottom .socialmediacontainer{
    margin-right: 0px;
    padding-right: 0px;
    position: relative;
    left: 0px;
}
.coachSlot h4 {
    margin-top: 10px;
    margin-left: 15px;
}
.coachSlot h5 {
    margin-top: 10px;
    margin-left: 15px;
}
.coachSlot .bio {
    flex-direction: column;
}
.rosterHeader {
    background:white;
    height: 150px;
}
.rosterHeader ul li a {
    color: #000;
}
.articlesBody {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.articlesBody a {
    text-decoration: none;
}
.articlesBody ul {
    list-style: none;
}
.articlesBody {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.articles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.articlesHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.articlesHeading span {
    color:#002676;
}
.articlesHeading h1 {
    font-size: 36px;
    color:#002676;
    font-weight: 600;
}
.articlesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.articleThumbnail {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);

}
.articleImg {
    width: 100%;
    height: auto;
}
.articleImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.articleText {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.articleText span {
    color:#002676;
    font-size: 18px;
}
.articleTitle {
    font-size: 25px;
    font-weight: 500;
    color: #000;
}
.longTitle {
    font-size: 15px;
    font-weight: 600;
    color: #000;
}
.articleTitle:hover {
    font-size: 25px;
    font-weight: 500;
    color: #FDB515;
}
.longTitle:hover {
    font-size: 15px;
    font-weight: 600;
    color: #FDB515;
}
.articleText p{
    color: #9b9b9b;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.articleText a{
    color: #000;
}
.articleText a:hover{
    color: #FDB515;
}
.blogBody {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(LCHI6246.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80vw;
    height: 100vh;
    height: 20px solid #fff;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    margin-top: 150px;
}
.blog {
    margin-bottom: 100px;
}
.date {
    color: #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}
.blogBody h2 {
    font-size: 2.0rem;
    margin: 20px 0px 20px;
    color: #fff;
}
.paragraph {
    border-left: 5px solid #004AAE;
    padding-left: 5px;
}
.blog p {
    color: #fff;    
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 8px;
}
.mobileContainer {
    width: 100vw;
}
.rosterSlot {
    max-width: 100vw;
    position: relative;
    left: 225px;
}
.gap {
    width: 100vw;
}
.calendarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    height: auto;
    padding: 20px; 
    box-sizing: border-box;
}
iframe {
    width: 80vw;
    height: 600px;
    min-height: 300px;
    max-height: 1500px;
}
.styled-calendar-container {
    max-height: 1500px;
    height: 1000px;
    width: 80vw;
}
@media(max-width:1250px){
    .articleThumbnail {
        width: 300px;
    }
}
@media(max-width:1100) {
    .articleThumbnail {
        width: 70%;
    }
}
@media (min-device-width:320px) and (max-device-width:768px) {
    .body {
        overflow-x: hidden;
    }
    .header {
        max-width: 100vw;
        padding: 0%;
    }
    .parallaxbackground {
        position: absolute;
        width: 100%;
        top: 900px;
        left: 0;
        object-fit: cover;
        transform: translateZ(-200px) scale(42);
    }
    .timelineContainer {
        padding: 10px 50px;
        position: relative;
        width: 90%;
    }
    .timelineRight-container {
        left: 0%;
    }
    .right-container-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid rgb(4,30,66);
        border-right: 0px;
        right: -15px;
        left: 250px;
    }
    .timelineRight-container img{
        left: 325px;
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: white;
        top: 0;
        left: 90%;
        margin-left: -3px;
        z-index: -1;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        opacity: 0.7;
    }
    .socialmediacontainer {
        margin-left: 5%;
        text-align: right;
        display: flex;
        flex-direction: row;
        top: 50px;
        position: relative;
    }
    .boxMTB {
        display: flex;
        flex-direction: column-reverse;
    }
    .boxStream {
        display: flex;
        flex-direction: column;
    }
    header ul li a {
        position: relative;
        margin: 0 5px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 500px;
        transition: 0.6s;
        font-size: x-small;
        left: -60px;
    }
    .rosterContainer {
        max-width: 300px;
        width: 100%;
        align-items: center;
        background-color: #fff;
        padding: 30px 10px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        position: relative;
        left: 350px;
        flex-shrink: 1;
        padding-right: 0px;
        margin-right: 0px;
        max-width: 100vw;
        font-size: 12px;
    }
    .rosterContainer nav label {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        transition: all 0.3s ease;
        max-width: 100vw;
    }
    .rosterSlot {
        position: relative;
        left: 50px;
        margin: 15px;
        margin-top: 40px;
        margin-bottom: 80px;
        margin-left: 0px;
        width: 280px;
        height: 100px;
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: flex-start;
    }
    .coachSlot {
        left: 10px;
    }
    .leftSide img {
        height: 120px;
        width: 100px;
        margin-top: 10px;
        object-fit: cover;
    }
    .content {
        position: relative;
        top: 0px;
    }
    .greyline {
        border: none; 
        height: 3px; 
        background-color:#002676;
        margin: 20px 0; 
        width: 70%;
        margin: 5px auto;
        top: 0px;
        position: relative;
    }
    .content h2 {
        width: 100%;
        font-size: large;
    }
    .rosterBody {
        height: auto;
        min-height: 100vh;
    }
    .rosterContainer {
        max-width: 90%;
        padding: 20px 10px;
        left: 0;
    }
    .gap {
        height: 100px;
    }
    .rightSide {
        position: relative;
        flex-direction: column;
        margin-left: 25px;
    }
    .leftbio {
        margin-right: 15px;
    }
    .coachSlot {
        flex-direction: row;
        height: 150px;
        width: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .coachSlot .rightSide {
        margin-bottom: 0px;
        margin-top: 15px;
        position: relative;
        left: -15px;
    }
    .coachSlot .leftSide {
        margin-left: 0px;
        padding: 0;
        position: relative;
        left: -10px;
    }
    .articlePageBottom {
        align-items: flex-start;
        position: absolute;
        width: 100%;
        left: 0px;
        margin-bottom: 50px;
    }
    .coachSlot h5 {
        font-size: 10px;;
    }
    .homeBottom .socialmediacontainer{
        left: 0px;
    }
    .boxMTB {
        margin-top: 40px;
    }
    .streaming-button {
        width: 60%;
        text-align: center;
    }
    .leftMTB img{
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 0px;
    }
    .rightMTB {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 15px;
    }
    .StreamContainer {
        margin-top: 0px;
    }
    .rightStream img {
        margin-top: 50px;
        margin-bottom: 0px;
        border-radius: 0px;
    }
    .MTBOverlay {
        font-size: 50px;
    }
    .roster-button {
        font-size: 50px;
    }
    .StreamingOverlay {
        font-size: 50px;
    }
    .streaming-button {
        font-size: 30px;
    }
    .StreamCal img {
        width: 80%;
        margin-left: 35px;
        height: auto;
        margin-top: 0px;
    }
    .Blackdog img {
        width: 80%;
        height: auto;
        margin-top: 0px;
        position: relative;
        top: -10px;
        left: 10px;
    }
    .coachesContent,
    .staffContent {
        left: 0px;
    }
}